{% extends "base.html" %}

{% block content %}
{% load myfilters %}
{% load static %}

<div class="flex grid-flow-col grid-cols-2 h-full gap-4 justify-end">
    <div class = "space-y-4 h-full w-full">
        <div class = "mt-6 m-3 divide-y w-2/3 justify-center box-border border-4">
        {% if event.image %}
            <img src="{{event.image.url}}" width="600" height="1000" class = "object-cover rounded-lg">
        {% else %}
            <img src="{% static '/images/Screenshot 2021-09-14 at 10.04.53 AM' %}" class = "object-cover rounded-lg"style="max-width: 10%"> 
        {% endif %}
        </div>
        <div class = "m-3 mt-2 w-2/3 box-border border-4">
        <h1 class="m-3 font-bold font-sans text-4xl">
            {{object.description}}
        </h1>
        </div>
        <div class = "m-3 mt-2 w-2/3 box-border border-4">
            <label class="m-3 font-bold font-sans text-4xl">
                Book you seats now
            </label>
        </div>
    </div>

    <div class = "flex w-2/6 bg-gray-800 justify-center">
        <div class= "space-y-4">
            <div>
                <label class="mt-2 text-sm font-bold text-2xl text-white truncate pointer-events-none">Event Name: </label>
                <label class="mt-2 text-sm font-bold text-2xl text-white truncate pointer-events-none">{{object.name}}</label>
            </div>
            <div>
                <label class="mt-2 text-sm font-medium text-white truncate pointer-events-none">Category: </label>
                <label class="mt-2 text-sm font-medium text-white truncate pointer-events-none">{{object.category}}</label>
            </div>
            <div>
                <label class="mt-2 text-sm font-medium text-white truncate pointer-events-none">Venue: </label>
                <label class="mt-2 text-sm font-medium text-white truncate pointer-events-none">{{object.place.venue}}</label>
            </div>
            <div>
                <label class="mt-2 text-sm font-medium text-white truncate pointer-events-none">Address: </label>
                <label class="mt-2 text-sm font-medium text-white truncate pointer-events-none">{{object.place.address}}</label>
            </div>
            <div>
                <label class="mt-2 text-sm font-medium text-white truncate pointer-events-none">Timings: </label>
                {% for time in timings %}
                <li class ="text-white" ><label class="mt-2 text-sm font-medium text-white truncate pointer-events-none">{{time.start}}</label></li>
                {% endfor %}
            </div>    

        </div>
    </div>


</div>


{% endblock content %}