{% extends "base.html" %}

{% block content %}
{% load myfilters %}
{% load static %} 

<div class="grid grid-flow-col space-x-3">
<div class = "bg-gray-800 p-4">

</div> 

  <div>
    <div class="grid grid-cols-3 grid-rows-3 gap-x-3.5">
            {% for event in events %}
            <div class="rounded-lg bg-gray-100 focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-offset-gray-100 focus-within:ring-indigo-500 overflow-hidden">
                    {% if event.image %}
                        <img src="{{event.image.url}}" class = "object-cover pointer-events-none group-hover:opacity-75">
                    {% else %}
                        <img src="{% static '/images/Screenshot 2021-09-14 at 10.04.53 AM' %}" class = "object-cover pointer-events-none group-hover:opacity-75"style="max-width: 10%"> 
                    {% endif %}
                    <p class="mt-2 block text-sm font-medium text-gray-900 truncate pointer-events-none">{{event.name}}</p>
                    <p class="block text-sm font-medium text-gray-500 pointer-events-none">Location: {{event.place}}</p>
                    <p class="block text-sm font-medium text-gray-500 pointer-events-none">Created by {{event.user}}</p>
            </div>
            {% endfor %}
            </div>
    </div>
  </div>
    
        
<div class = "flex justify-end">
        {% if is_paginated %}
        <ul class="pagination">
          {% if page_obj.has_previous %}
            <li class = "bg-white border-gray-300 text-gray-500 hover:bg-gray-50 relative inline-flex items-center px-4 py-2 border text-sm font-medium"><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
          {% else %}
            <li class="bg-white border-gray-300 text-gray-500 hover:bg-gray-50 relative inline-flex items-center px-4 py-2 border text-sm font-medium"><span>&laquo;</span></li>
          {% endif %}
          {% for i in paginator.page_range %}
            {% if page_obj.number == i %}
              <li class="z-10 bg-indigo-50 border-indigo-500 text-indigo-600 relative inline-flex items-center px-4 py-2 border text-sm font-medium"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
            {% else %}
              <li class = "bg-white border-gray-300 text-gray-500 hover:bg-gray-50 relative inline-flex items-center px-4 py-2 border text-sm font-medium"><a href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
          {% endfor %}
          {% if page_obj.has_next %}
            <li class = "bg-white border-gray-300 text-gray-500 hover:bg-gray-50 relative inline-flex items-center px-4 py-2 border text-sm font-medium"><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
          {% else %}
            <li class="bg-white border-gray-300 text-gray-500 hover:bg-gray-50 relative inline-flex items-center px-4 py-2 border text-sm font-medium"><span>&raquo;</span></li>
          {% endif %}
        </ul>
      {% endif %}
</div>

{% endblock content %}